/* src/styles.css */
.salam{
    margin: 0;
  min-height: 100vh;
  background-image: url('/assets/casey-horner-GWA6uxWSNaQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}