
.my-galleria,
.my-galleria .p-galleria-item img {
  width: 100%;
  height: 82vh;
  object-fit: cover;
}

@media (max-width: 600px) {
  .my-galleria,
  .my-galleria .p-galleria-item img {
    height: 20vh ;
    overflow-x: hidden;

  }
}
body{
    overflow:hidden ;
   
}
:host ::ng-deep .p-galleria,
:host ::ng-deep .p-galleria-item-wrapper,
:host ::ng-deep .p-galleria-item-container,
:host ::ng-deep .p-galleria-content {
  border-radius: 0 !important;
}