
@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "swiper/css";
@import "swiper/css/autoplay";
body {
    color: #24346a;
    direction: rtl;
    font-family: wolf;
    color: #1C1C1C;
    background-color: #F9FAFB;
}

@font-face {
    font-family: wolf ;
    src: url(./assets/Vazir-Thin.woff2);
    

}
@font-face {
    font-family: iransans;
    src: url(./assets/Iranian\ Sans.ttf);
}
